<p id="notice"><%= notice %></p>
<h2>Nombre: <%= @producto.nombre %></h2>

<h3>Precio: <%= @producto.precio %></h3>

<h3>Descripcion: <%= @producto.descripcion %></h3>

<h2>Ventas del producto:</h2>
<% @sales.each do |sale| %>
  <strong>Folio:</strong>
  <%= sale.folio %>
  <strong>Fechacompra:</strong>
  <%= sale.fechacompra %>
  <strong>Precio:</strong>
  <%= sale.precio %>
  <strong>Cantidad:</strong>
  <%= sale.cantidad %>
  <strong>Cliente:</strong>
  <%= sale.cliente.nombre %>

  <br>
<% end %>
<br>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
