<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :folio %><br>
    <%= f.number_field :folio %>
  </div>
  <div class="field">
    <%= f.label :fechacompra %><br>
    <%= f.date_select :fechacompra %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.number_field :precio %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br>
  <%= f.select( "cliente_id",Cliente.all.collect{|l| [ l.nombre, l.id ] }, {include_blank: 'Seleccione Cliente'}) %>
  </div>

  <%= f.hidden_field :usuario_id, :value => current_usuario.id   %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
